<%= simple_form_for(@docker_instance, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :branch %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
